*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
}
body{
    background-color: black;
    
}
#header{
    width: 100%;
    height:100vh;
    margin: 0;
    
    

}
.bg{
    width: 100%;
    height:80vh;
    background-image: url(dog1.jpg);
    background-size: cover;
    background-position: center;
    
    position: fixed;
    left: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
}
.container{
    padding: 10px 5%;

    
}
nav{
    
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    
    
    
    
}
.logo{
    width: 140px;
    display: flex;
    height: 140px;
    color:turquoise ;
    font-weight: 700;
    font-family: serif;
    
    
}


nav ul{
    
    position: relative;
   
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 80px;
    padding-right: 0px;
    
}
 nav ul li a{
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: 900;
    text-decoration: none;
    font-family: sans-serif;
    position: relative;

 }
 nav ul li a::after{
    content: "";
    width:0%;
    height: 7px;
    background:turquoise;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 0.5s;

 }
 nav ul li a:hover::after{
    width: 100%;
 }
 .home-text{
    margin-top: 10%;
    
    font-size: 30px;
    
 }
 
 .sl{
    margin-top: 50px;
    letter-spacing: 3px;
    
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
 }
 .swy{
    margin-top: 0px;
    letter-spacing: 1px;
    color: #04fff7;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:50px;
    ;

 }

 /* ...........about............. */

 #about{
    padding:80px 0;
    margin: -100px 0px 15px;
    background-color: black;
    
    
 }
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .clm1{
    flex-basis: 35%;
 }
 .clm1 img{
    width: 80%;
    border-radius: 15px;
    opacity: 0.8;
 }
 .clm2{
    flex-basis: 65%;
    
 }
 .clm2 h1{
    color: #04fff7;
    font-family: sans-serif;
 }
 .clm2 p{
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    line-height: 50px;
    padding-left: 20px;
    text-align: justify;
 }
 .tabs{
    display: flex;
    margin: 50px 0 30px;
    justify-content: space-evenly;

 }
 .tablink{
    color: white;
    font-weight: 700;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 30px;
    position: relative;
 }

 .tablink::after{
    content: "";
    width:0%;
    height: 7px;
    background:turquoise;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 0.5s;

 }

 .tablink.activelink::after{
    width: 70%;
 }

 .tabcont h1 {
    margin-top: 20px;
    color: #04fff7;
    display: flex;
    justify-content: center;
    font-size: 60px;
    
    
 }
 .tabcont{
    display: none;
 }
 .tabcont.activecont{
    display: block;
    
 }

 /*..........................adoption..............*/

 #adoption{
   padding: 100px 50px;
   background-color: black;
 }
 .adoptiontitle{
   color: #04fff7;
    font-family: sans-serif;
    font-size: 40px;
 }
 .adoplist{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
   grid-gap: 70px;
   margin-top: 50px;
   color: white;
   font-family: sans-serif;
   justify-content: space-around;
 }
 .adoplist div{
   font-size: 25px;
   text-align: justify;
   font-family: sans-serif;
   line-height: 40px;
   background-color: rgb(50, 48, 48);
   padding: 40px;
   border-radius: 10px;
   transition: 0.5s;
 }
 .adoplist div:hover{
   background-color: rgb(7, 147, 133);
   transform: translateY(-10px);
}
 .adoplist p{
   padding: 10px;
 }
 .adoplist i{
   font-size: 50px;
   margin-bottom: 30px;
   color: white;
 }
 .adoplist a{
   text-decoration: none;
   color: rgb(146, 228, 220);
   padding-left: 10px;
    }

/* *************donation******************** */
#donation{
   padding: 100px 50px;  
   background-color: black;
}

.dontitle{
   color: #04fff7;
    font-family: sans-serif;
    font-size: 40px;
}
.donate{
   padding: 20px;
   width: 100%;
   display: flex;
   justify-content: center;
   position: relative;
   margin-top: 50px;
   margin-left: 2%;
   overflow: hidden;   
   
}
 .donate img{
   width: 100%;
   height: 600px;
   opacity: 1; 
   border-radius: 20px;
   overflow: hidden;
   transition:0.5s;
   
 }
 .layer{
   width: 99%; 
   height: 0;  
   position: absolute;
   background-image: linear-gradient(rgba(0,0,0,0.7),rgb(11, 147, 133));
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   line-height: 70px;
   font-size: 40px;
   font-family: sans-serif;
   font-weight: 900;
   overflow: hidden;
   transition: 0.5s ease;
    
 }

.layer a{
   color: white;
   
   border-radius: 50%;
   
}

.donate:hover img{
   
   transform: scale(1.001);
   
}
.donate:hover .layer{
   height: 93.5%;
}

.donate a:hover{
   opacity: 0.7;
   
}
.btn{
   display: block;
   margin: 20px auto;
   width: fit-content;
   border: 1px solid aqua;
   border-radius: 6px;
   padding: 14px 50px;
   text-decoration: none;
   font-size: 25px;
   color: white;
   font-family: sans-serif;
   font-weight: 500;
   transition: 0.5s;
}
.btn:hover{
   background-color: #06a19c;
}

/* -------------------------------contact----------------------- */

.contact-left {
   flex-basis: 35%;
   color: #04fff7;
   font-family: sans-serif;
   font-size: 30px;
   line-height: 50px;
   background-color: black;
   margin: 30px;
   padding: 50px;
   
   line-height: 50px;
}

.contact-right{
   flex-basis: 50%;
   background-color: black;
   margin: 30px;
}

.conttitle{
   color: white;
   margin: 30px 0;
   font-family: sans-serif;
    font-size: 40px;
    
   
}

.smicon{
   margin-top: 30px;
   
  }
  

.smicon a{
text-decoration: none;
font-size: 30px;
margin-right: 15px;
color: #04fff7;
transition: 0.5s;
display:inline-block;
}

.smicon a:hover{
   color:white;
   transform: translateY(-5px);
}


form input, form textarea{
   width: 90%;
   border: 0;
   outline: none;
   background: #262626;
   padding: 15px;
   margin: 15px 30px;
   color: whitesmoke;
   font-size: 20px;
   border-radius: 6px;
   
}
.contact-right .sbtn{
   display: block;
   margin: 40px auto;
   width: fit-content;
   border: 1px solid aqua;
   border-radius: 6px;
   padding: 14px 50px;
   text-decoration: none;
   font-size: 25px;
   color:white;
   font-family: sans-serif;
   font-weight: 500;
   transition: 0.5s;
   background-color: black;
}
.sbtn:hover{
   transform: scale(1.1);
}

.copyright{
   width: 100%;
   text-align: center;
   padding: 25px 0;
   margin-top: 20px;
   background-color: #262626;
   font-weight: 300;
   color: bisque;
   letter-spacing: 5px;

}
.copyright i{
   color: #04fff7;
}


/* --------------------responsive------------ */

nav .fa-solid{
   display: none;
   color: bisque;
   
   
}



@media only screen and (max-width: 600px) {
   nav .logo{
      width: 50px;
      height: 50px;
      margin-top: 15px;
   }

   .home-text h2{
      font-size: 22px;
   }
   .home-text .swy{
      font-size: 22px;
   }
   .home-text{
      margin-top: 40%;
   }

   nav .fa-solid{
      display: block;
      color: white;
   }
   nav ul{
      background-color: #04fff7;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 500px;
      padding-top: 50px;
      display: block;
      color: black;
      transition: 0.5s;
   }
   nav ul li{
      display: block;
      margin: 25px;
      
      
   }

   nav ul li a{
      color: black;
      font-size: 14px;
   }
   nav ul .fa-solid{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
      color: black;
   }

   .container{
      margin: 0;
      width: 100%;
   }
   .clm1, .clm2{
      flex-basis: 100%;
   }
   .clm1 img{
      width: 100%;
      margin-bottom: 20px;
   }
   .clm2 h1{
      font-size: 20px;
   }
   .clm2 p{
      font-size: 16px;
      line-height: 30px;

   }
   .tabs .tablink{
      font-size: 17px;
   }
   .adoptiontitle{
      font-size: 20px;
   }
   .adoplist div{
      font-size: 16px;
      line-height: 30px;
      padding: 10px;
   }
   .adoplist i{
      font-size: 20px;
   }
   .dontitle{
      font-size: 20px;
   }
   .donate{
      margin: 0%;
   }
   .donate img{
      height: 300px;
      width: 700px;
   }
   .layer{
      width: 700px;
      font-size: 10px;
      line-height: 20px;
      border-radius: 20px;
      height: 0;
   }
   .btn{
      font-size: 16px;
      padding: 10px 25px;
   }
   .contact-left, .contact-right{
      flex-basis: 100%;
   }
   .contact-left{
      font-size: 16px;
      padding: 25px;
   }
   .contact-right{
      margin: 20px;
   }
   .conttitle{
      font-size: 20px;
   }
   .contact-right .sbtn{
      font-size: 16px;
      padding: 10px 25px;
   }
   .copyright{
      letter-spacing: 2px;
      font-weight: 200;
      
   }
}